
<!-- Siddeeqa Institute -->
<div *ngIf="subMenu == 'our_courses'">
    <p> content for Our Courses</p>
</div>

<div *ngIf="subMenu == 'traditional_islamic_education'">
    <p> Traditional Islamic Education/p>
</div>

<div *ngIf="subMenu == 'essential_islamic_education'">
    <p> Essential Islamic Education</p>
</div>

<div *ngIf="subMenu == 'quranic_arabic_course'">
    <p>Quranic Arabic course</p>
</div>

<div *ngIf="subMenu == 'short_courses'">
    <p> Short Courses, Workshops and Lectures</p>
</div>


<div *ngIf="subMenu == 'postgraduate_center'">
    <p> Postgraduate Center</p>
</div>

<div *ngIf="subMenu == 'our_teachers'">
    <p> Our Teachers</p>
</div>

<div *ngIf="subMenu == 'resources_for_students'">
    <p> Resources for Students</p>
</div>

<div *ngIf="subMenu == 'resources_for_teachers'">
    <p> Resources for Teachers</p>
</div>

<div *ngIf="subMenu == 'fiqh_resources'">
    <p> Fiqh Resources</p>
</div>

