<!-- Siddeeqa Institute ENGLISH -->
<div *ngIf="subMenu == 'siddeeqa_institute' && language == 'EN'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                FAQs <br>
                ABOUT SIDDEEQA INSTITUTE
            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Where is Siddeeqa Institute based?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A. Siddeeqa Institute has no physical presence in any country of the world and claims no
                            particular national identity. Our teachers and students are based across the globe, and we
                            are a purely online institute.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How old is Siddeeqa Institute?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Siddeeqa Institute was founded in the year 2013. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Is Siddeeqa Institute affiliated with any other
                            organization?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A. We are not affiliated with any other online institute, on-site <i>madrassah</i>, or examination
                            board.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What sect does Siddeeqa Institute follow</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: The founders and teachers of Siddeeqa Institute are committed Sunnis who consider the
                            <i>ulema </i>of Deoband as their intellectual forefathers in recent times. We adhere to a
                            <i>madhab</i>-based approach to <i>fiqh </i>and offer Hanafi, Shafi’i and Maliki <i>fiqh </i>tracts to our
                            students. We have great reverence for those of the <i>mashaikh </i>of <i>tasawwuf </i>who adhere strictly
                            to the shari’ah and sunnah. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What curriculum does Siddeeqa Institute follow?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A. The Five-Year Traditional Islamic Education (<i>‘Alima</i>) Program is based on the
                            <i>Dars-e-Nizami</i> curriculum that was first introduced in traditional institutes of Islamic
                            learning in India in the 18th century. This curriculum gained immense acceptance and has,
                            since its inception, been taught throughout South Asia and all over the world, educating
                            millions of seekers of knowledge in the traditional Islamic sciences. Our five-year
                            Traditional Islamic Education program is a shorter version of the <i>Dars-e-Nizami</i> curriculum,
                            tailored to the needs of women today. We offer this course online, in English and Urdu.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Is the five-year course the same as an “<i>'alima</i>” course?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: In some countries, because of the existence of central madrasah boards such as the 'alima<i>Wifaq
                            al-Madaris al-'Arabiyah'alima</i> in Pakistan that issue the official “<i>'alima</i>” certification after
                            centralized examinations, any degree awarded by other than these boards is not considered a
                            formal “<i>'alima</i>” degree. However, in other countries of the world, there are no central
                            boards that issue the <i>'alima</i> degree after standardized examinations, and every on-site and
                            online <i>madrassah</i> has its own version of the '<i>alimiyyah </i>program based on the <i>Dars-e-Nizami</i>
                            (usually very similar to each other) and issues its own degree, and recognizes <i>'alima</i>
                            degrees awarded by other similar institutes.<br><br><i>Alhamdulillah</i>, our curriculum and
                            methodology are comparable to what is taught in reputable womens' <i>madrassah</i>s around the
                            world, and our emphasis on the practical implementation of concepts, especially in teaching
                            <i>fiqh </i>and Arabic, and on the <i>tarbiyah </i>and personality development of our students sets us
                            apart from even institutes offering the formal <i>'alima</i> degree.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Do we get a certificate for participation in Siddeeqa Institute
                            courses?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: A certificate of completion from Siddeeqa Institute will be awarded upon successful
                            completion of all the requirements of the five-year Traditional Islamic Education program or
                            flexible Essential Islamic Education program. Certificates may also be awarded for some
                            short courses; this information will be provided in the advertisement for the particular
                            course.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Is the Siddeeqa Institute certificate recognized by other
                            institutes?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: In recent years our graduates have gotten admission in <i>takhassus </i>(specialization)
                            programs in several different institutes and have done outstandingly well in them, and have
                            also been given teaching positions in other reputable institutes. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>

        </mat-accordion>
    </div>
</div>

<div *ngIf="subMenu == 'financial_matters' && language == 'EN'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                FINANCIAL MATTERS
            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What are the charges for Siddeeqa Institute courses?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Our courses are all free of cost.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<div *ngIf="subMenu == 'technical_matters' && language == 'EN'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                TECHNICAL MATTERS
            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How are the sessions conducted?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: All our sessions are conducted live via the Google Meet app. Our longer programs are
                            managed via the Google Classroom app while for the shorter courses links for classes are
                            shared with the students in the respective Whatsapp groups.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Can I join classes using a phone or is a laptop
                            required?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: You can join our sessions through a phone with a strong Internet connection.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
        <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What if I cannot hear the speaker clearly?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: If your audio is breaking up, write down “voice breaking” or “no audio” in the chat. If
                            the same message is sent by others that means there is a problem with the speaker’s
                            connection, and she will try to fix it. However, if the other participants respond with
                            “voice clear” in the chat, that means the problem is at your end. Sometimes logging out and
                            then joining again helps. However, if the problem persists to the extent that you cannot
                            understand what the speaker is saying, it might be advisable to leave the session and listen
                            to the recording later.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
        <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Will we be able to see the speaker?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: All teachers have their cameras off throughout the sessions. You will only be able to
                            hear them and see the whiteboard, book or slides displayed on the screen.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
        <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Will students be able to see or hear each other?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Students are required to keep their cameras and microphones off at all times, and all
                            communication must be through the chat box. Sometimes a teacher may ask a student to open
                            her mic to ask or answer a question, but never the camera.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        <br>
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What if I miss a live session?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Recordings are available for all our live sessions and are uploaded within a few hours
                            after the live sessions end.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        <br>
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How are exams conducted?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Exams are made available to the students according to a pre-set exam schedule that is
                            shared with them well ahead of time. They have a 48-hour window within which to submit each
                            exam, during this period they can attempt the exam at any time. Our examination system is
                            based entirely on trust and there is no live monitoring of the students as they attempt the
                            exam. However, answers are carefully scrutinized for plagarism, and students found to have
                            cheated are immediately expelled. Students can pre-pone the exams or ask for extensions if
                            this is direly needed. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
        <br>
        </mat-accordion>
    </div>
</div>

<div *ngIf="subMenu == 'admission_information' && language == 'EN'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                ADMISSION INFORMATION
            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How do I find out about the courses being offered?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: The easiest way is to join our WhatsApp group where we send posters of all our upcoming
                            events. In this group only admin can post so there will be no unnecessary disturbance. You
                            can join this group by sending a WhatsApp message to any of the numbers mentioned on the
                            "Contact Us" page.
                            <br>
                            <br>
                            Alternatively, you could keep checking our website; the slider on the main page will display
                            teasers for upcoming and ongoing courses; if you click on a teaser, you will be taken to the
                            full poster for that event.
                            <br>
                            <br>
                            You can also follow us on social media (Instagram, Facebook, Twitter) to remain updated
                            about our offerings.

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How old is Siddeeqa Institute?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Siddeeqa Institute was founded in the year 2013. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How do I join Siddeeqa Institute courses, workshops, or
                            lectures?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: For our longer courses (such as our five-year course, our Essentials course and our
                            Qur’anic Arabic course), when admissions open, the Course Registration Form will display
                            that option. You can fill out the form and select that option. You will then be added to a
                            WhatsApp group for the course and further details and joining instructions will be shared
                            there.

                            ​<br>
                            <br>
                            For our shorter courses, workshops and lectures, a WhatsApp contact number will be provided
                            on the relevant posters. By sending a message to that number, you will be added to a
                            WhatsApp group for the course and further details and joining instructions will be shared
                            there. You may also contact the Short Courses Coordinator and request to be added to a
                            course.
                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How do I join a support group?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Places in a support group are highly limited, with only 10 to 15 women in one group. Once
                            a support group is offered and advertised you may send a message to the WhatsApp number
                            mentioned in the poster and someone from our admin team will contact you with an application
                            form. An interview may also be required.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How do I join the Book Club?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Contact the Book Club Coordinator to be added to a WhatsApp group where you will receive
                            notifications whenever a new book is being offered. You may choose to join reading and
                            discussion of a particular book, or you may opt out of it and wait for one that interests
                            you more. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What are the prerequisites for your courses?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A. The prerequisite for the five-year Traditional Islamic Education Program, the flexible
                            Essential Islamic Education Course and the Qur’anic Arabic Course are the ability to read
                            the Qur’an and write Arabic words. For women who need help in this regard, we offer courses
                            in Qur’an Reading and Arabic Writing over the summer prior to the start of the
                            aforementioned courses.
                            <br><br>
                            We also require students pursuing these courses in English to have a strong command of
                            English grammar. Again, for those who feel like their English grammar needs some brushing
                            up, we offer classes in “English Grammar for Arabic Learners” in the summer prior to the
                            start of our courses.
                            <br><br>
                            Prospective students whose English language skills are not up to the mark but who are fluent
                            in Urdu are advised to take up these courses in Urdu instead. The prerequisite for the same
                            courses in Urdu is the ability to read and write Urdu. If your Urdu comprehension and
                            ability to speak Urdu is good enough but you are unable to read and/or write it, we offer
                            Urdu reading and writing classes in the summer prior to the start of our courses.
                            ​
                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Can a student transfer to your <i>'alima</i> course from another
                            institute?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: It is possible for a student to switch to our <i>'alima</i> course from another institute. In
                            this case, she must contact the relevant admin staff member and provide details of the
                            subjects, books and topics that she has studied, and also submit reports from previous years
                            if they are available. We reserve the right to give the applicant admission in whatever year
                            or semester we think she is best suited for, even if that means she will have to repeat a
                            year or semester.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What if I am unable to handle the course load?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: In both the <i>'alima</i> course and the Essentials course, students have the option of studying
                            part-time. In the <i>'alima</i> course, this means that in both semesters of any given academic
                            year they take less than the full load of subjects in consultation with the assigned
                            coordinator. Then at the start of the next academic year they re-enroll in the same level to
                            complete the remaining subjects. Hence they cover one year worth of subjects in two years.
                            <br><br>
                            In the Essentials course students are free to take as few or as many subjects as they can
                            manage, even if it is just one subject per semester. Whenever they complete all the course
                            requirements the course is considered concluded, even if it takes them years to do this.
                            They may also join this course only as a listener, in which case they will not have the
                            pressure of assignments and exams, though we advise that they join as a regular student.
                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
        </mat-accordion>
    </div>
</div>

<div *ngIf="subMenu == 'miscellaneous' && language == 'EN'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                MISCELLANEOUS
            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Do we need to purchase the books we will be using for our
                            course?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: PDFs of all the required books are available online at the beginning of each semester.
                            However, students are required to purchase those books that have copyrights and are in
                            print. If they are unable to buy any book locally or are unable to have it shipped to them
                            if purchased online, they can purchase it online and have it shipped to someone they know,
                            and continue to use the PDF in its place. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What is the difference between the Urdu and English <i>'alima</i>
                            courses?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: The only difference between the two is in the medium of instruction and the language of
                            the non-Arabic texts. Students should opt for the language they are most proficient in.

                            ​</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<!-- Siddeeqa Institute URDU-->
<div *ngIf="subMenu == 'siddeeqa_institute' && language == 'UR'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                صدیقہ انسٹیٹیوٹ کے متعلق
            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س:صدیقہ انسٹیٹیوٹ کہاں واقع ہے؟</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: صدیقہ انسٹیٹیوٹ کسی خاص ملک سے وابسطہ نہیں، اور نہ ہی اسکی کوئی عمارت کہیں واقع ہے۔ ہماری طالبات اور معلمین و معلمات دنیا کے مختلف علاقوں سے تعلق رکھتے ہیں، اور ہمارا وجود  صرف آن لائن ہی ہے۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: صدیقہ انسٹیٹیوٹ کو بنے کتنے سال ہو گئے ہیں؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: صدیقہ انسٹیٹیوٹ کی ابتدا 2013 میں ہوئی ۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: کیا صدیقہ انسٹیٹیوٹ کسی اور ادارے سے منسلک ہے؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: صدیقہ انسٹیٹیوٹ کسی دوسرے آن لائن ادارے، کسی مدرسے یا کسی امتحانی بورڈ سے منسلک نہیں۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: صدیقہ انسٹیٹیوٹ میں کس مسلک کی پیروی کی جاتی ہے؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: صدیقہ انسٹیٹیوٹ کے بانی اور اساتذہ پکے سنی ہیں جو علماء دیوبند کو اپنے بڑے مانتے ہیں۔  ہم فقہ  میں ایک مذہب کی پیروی کرنے کے قائل ہیں اور اپنی طالبات کو حنفی مذہب کے مطابق فقہ کی تعلیم دیتے ہیں۔  ہم شریعت و سنت کے پابند  مشائخ تصوّف کی بہت عزت کرتے ہیں اور ان سے محبت کا تعلق رکھتے ہیں۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س۔ صدیقہ انسٹیٹیوٹ میں کون سا نصاب پڑھایا جاتا ہے؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج۔  پانچ سالہ تفصیلی علوم دینیہ (عالمہ)  کورس درسِ نظامی کے نصاب پر مبنی ہے جو پہلی مرتبہ اٹھارویں صدی عیسویں میں ہندوستان کے مدارس میں متعارف کروایا گیا ۔ اس نصاب کو بے حد مقبولیت حاصل ہوئی اور اپنے آغاز سے لے کر اب تک پورے جنوبی ایشیا اور دنیا بھر میں مدارس میں یہ نصاب  پڑھایا جارہا ہے،اور اس کے ذریعے ان گنت طلباء نے استفادہ  حاصل کیا ہے۔ ہمارےپانچ سالہ تفصیلی علوم دینیہ کورس  کو دور حاضر میں خواتین کی ضروریات  کو مدنظر رکھتے ہوئے، درسِ نظامی کو مختصر کر کے تیار کیا گیا ہے۔ ہم یہ کورس اردو اور انگریزی دونوں زبانوں میں آن لائن پڑھاتے ہیں۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س۔ کیا پانچ سالہ کورس اورعالمہ کورس ایک ہی چیز ہے؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج۔ بعض ممالک میں مدارس کے  مرکزی  امتحانی بورڈ موجود ہیں، جیسے پاکستان میں  وفاق المدارس العربیہ پاکستان، جو ملک بھر میں امتحانات منعقد کروانے کے بعد اپنی طرف سے  عالمہ کی ڈگری دیتے ہیں۔  غرض وہاں  ان بورڈز کے علاوہ کسی بھی ڈگری کو باضابطہ "عالمہ" کی ڈگری نہیں  سمجھا جاتا، چاہے نصاب اور کتابیں  ایک ہی کیوں نہ ہوں۔ تاہم، دنیا کے دیگر ممالک میں جہاں ایسا کوئی مرکزی بورڈ موجود نہیں ہے، ہر آن سائٹ اور آن لائن مدرسے کا اپنا عالمہ کا کورس ہوتا ہے جو  درس نظامی پر ہی مبنی ہوتاہے، اور  اکثر کورس ایک دوسرے سے بہت ملتے جلتے ہیں۔  ہر مدرسہ اپنی ڈگری جاری کرتا ہے اور  دوسرے مدراس کی ڈگریاں قبول کرتا ہے۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: کیا ہمیں صدیقہ انسٹیٹیوٹ کےکورسز میں شرکت پر کوئی سرٹیفکیٹ ملتا ہے؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: پانچ سالہ تفصیلی علوم دینیہ (عالمہ)  کورس  اوربنیادی اسلامی تعلیم کورس کے تمام لازمی اجزاءکو کامیابی سے مکمل کرنے والی طالبات کو انسٹیٹیوٹ کی طرف سے تکمیلی  سرٹیفکیٹ دیا جاتا ہے۔ بعض مختصر کورسز کے لیے بھی سرٹیفکیٹ  دیے جا تے ہیں؛ یہ معلومات کورسز کے اشتہارات پر فراہم کی جائے گی۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: کیا صدیقہ انسٹیٹیوٹ کا سرٹیفکیٹ دوسرے ادارے قبول کرتے ہیں؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: حال  ہی میں  ہماری فارغ التحصیل  طالبات  نے متعدد مختلف آن لائن اداروں میں تخصص کے  پروگراموں میں داخلہ بھی لیا ہے اور ان میں ممتاز کارکردگی بھی دکھائی ہے،اور  انہیں مختلف آن لائن مدارس میں  تدریس کی ذمہ داریاں بھی سونپی گئی ہیں۔ تاہم، ہماری ڈگری کو   پاکستان کے آن سائیٹ مدارس میں باضابطہ عالمہ ڈگری کے طور پر تسلیم نہیں کیا جائے گا کیونکہ یہ وفاق المدارس العربیہ  یا پاکستان کے کسی اور امتحانی بورڈ کی طرف سے  نہیں ہے۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>

        </mat-accordion>
    </div>
</div>

<div *ngIf="subMenu == 'financial_matters' && language == 'UR'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                مالی معاملات

            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: کیا صدیقہ انسٹیٹیوٹ کے کورسز کی کوئی فیس ہے ؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: ہمارے تمام کورسز بلا معاوضہ پڑھائے جاتے  ہیں۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<div *ngIf="subMenu == 'technical_matters' && language == 'UR'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                تکنیکی معاملات

            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: صدیقہ انسٹیٹیوٹ کی کلاسیں  کیسے منعقد ہوتی ہیں؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: ہماری تمام کلاسیں گوگل میٹ ایپ کے ذریعے براہ راست ہوتی ہیں۔ ہمارے طویل کورس (جیسے عالمہ کورس) گوگل کلاس روم ایپ کے ذریعے مینج کیے جاتے ہیں، جبکہ مختصر کورسز کے لیے کلاسز اور ریکارڈنگ کے لنکس طلباء کے ساتھ واٹس ایپ کے ذریعے شیئر کیے جاتے ہیں۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: کیا میں فون کے ذریعے کلاسز میں شامل ہو سکتی ہوں یا لیپ ٹاپ کی ضرورت ہے؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: آپ مضبوط انٹرنیٹ کنکشن کے ساتھ فون کے ذریعے ہماری کلاسوں میں شامل ہو سکتی ہیں۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
        <br>
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: اگر مجھے معلمہ کی آواز  کٹ کٹ کے سنائی  دے تو کیا کروں؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: اگر آپ کو معلمہ  کی  آواز کٹ کٹ کے سنائی دے، یا بالکل نہ آئے تو چیٹ میں "وائس بریکنگ" یا "کوئی آڈیو نہیں" لکھیں۔ اگر یہی میسج دوسرے بھی چیٹ میں لکھیں تو اس کا مطلب ہے کہ معلمہ کے انٹرنیٹ کنکشن میں کوئی مسئلہ ہے، اور وہ اسے ٹھیک کرنے کی کوشش کریں گی۔ لیکن اگر دوسرے شرکاء چیٹ میں "آواز صاف ہے" کے ساتھ جواب دیں، تو اس کا مطلب ہے کہ  آپ کی طرف سے انٹرنیٹ کنکشن کا مسئلہ  ہے۔ کبھی کبھی لاگ آؤٹ کرنا اور پھر دوبارہ جوائن کرنا مددگار ثابت ہوتا ہے۔ تاہم، اگر مسئلہ  برقرار رہے اور آپکو معلمہ کی بات بالکل سمجھ نہ آرہی ہو تو  بہتر ہے کہ سیشن چھوڑ دیں اور بعد میں ریکارڈنگ سن لیں۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
        <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: کیا ہم معلمہ کو دیکھ سکتی ہیں؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: تمام معلمات اپنے کیمرے بند رکھتی ہیں۔ آپ انہیں صرف سن سکتی ہیں اور اسکرین پر  وائٹ بورڈ، کتاب یا سلائیڈز دیکھ سکتی ہیں۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
        <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: کیا طالبات  ایک دوسرے کو دیکھ یا سن سکیں گی؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: کلاسوں کے دوران طالبات کے  کیمرے اور مائک  بند رکھیں جائیں گے ، اور تمام ضروری سوال جواب چیٹ  کے ذریعے ہوں گے۔ کبھی کبھار کوئی معلمہ کسی طالبہ کو سوال پوچھنے کے لیے  یا جواب دینے کے لیے  مائیک کھولنے کو  کہہ سکتی ہیں، لیکن کیمرہ کھولنے کے لیے کبھی نہیں کہا جاتا۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
        <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: اگر میں لائیو سیشن میں شامل نہ ہو سکوں تو کیا  کروں؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: ہمارے تمام لائیو سیشنز کی ریکارڈنگز کلاسیں مکمل ہونے کے چند گھنٹوں بعد طالبات کے لیے د ستیاب  ہو جاتی  ہیں۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
        <br>
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: امتحانات کیسے منعقد ہوتے ہیں؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: طالبات کو پہلے سے طے شدہ  شیڈول کے مطابق امتحان دیے  جاتے ہیں۔  ان کے پاس ہر امتحان کے لیے 48 گھنٹے کی مہلت ہوتی ہے جس کے اندر اندر انھیں امتحان جمع کرنا ہوتا ہے، اور اس مدت کے دوران وہ کسی بھی وقت امتحان کے لیے بیٹھ سکتی ہیں۔ ہمارا امتحانی نظام  امانت پر مبنی ہے اور امتحان کرتے وقت طالبات کی براہ راست نگرانی نہیں کی جاتی۔ لیکن امتحان میں نقل پکڑی جائے تو کورس سے نکال دیا جاتا ہے۔   طالبات کو اشد ضرورت ہو تو امتحانات  ملتوی کرنے یا وقت سے پہلے دینے کی درخواست کر سکتی ہیں۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>

            <br>
        </mat-accordion>
    </div>
</div>

<div *ngIf="subMenu == 'admission_information' && language == 'UR'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                داخلے سےمتعلق معاملات

            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س:  نئے کورسز کے بارے میں کیسے جانا جا سکتا ہے؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: ہمارے واٹس ایپ گروپ میں شامل ہونا سب سے آسان طریقہ ہے جہاں ہم اپنے آنے والے تمام کورسزکے پوسٹر بھیجتے ہیں۔ اس گروپ میں صرف ایڈمن ہی پوسٹ کر سکتے ہیں تاکہ غیر ضروری میسجز کی وجہ سے کسی کو پریشانی نہ ہو۔ آپ ہمارے کسی بھی اینڈمن سٹاف ممبر کو واٹس ایپ میسج بھیج کے، یا ہمیں ای میل کر کے، اس گروپ میں شامل ہونے کی درخواست کر سکتی ہیں۔


                            <br>
                            <br>
                            متبادل طور پر، آپ ہماری ویب سائٹ چیک کرتی رہیں؛ مرکزی صفحے پر سلائیڈر میں ہمارے نئے اور موجودہ کورسز کے اشتہار ہوں گے، جن کو کلک کرکے پورے پوسٹر تک رسائی حاصل کی جا سکتی ہے۔


                            <br>
                            <br>
                            ہمیں سوشل میڈیا پر فالو کرکے بھی  ہمارے کورسز کے بارے میں مطلع رہا جا سکتا ہے۔



                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>سوال: میں کسی کورس، ورکشاپ یا لیکچر میں کیسے شامل ہو سکتی ہوں؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: ہمارے طویل کورسز کے لیے (جیسےپانچ سالہ عالمہ کورس،بنیادی کورس اور  قرآنی عربی کورس) جب داخلے کھلیں گے تو  کورس داخلہ فارم میں یہ آپشن نظر آنا شروع ہو جائیں گی۔  آپ فارم کو بھر سکتی ہیں اور اپنی منتخب آپشن کو چن سکتی  ہیں۔ اس کے بعد آپ کو کورس کے لیے ایک واٹس ایپ گروپ میں  شامل کیا جائے گا اور مزید تفصیلات اورہدایات وہاں شیئر کی جائیں گی۔
                                <br><br>
                                ہمارے مختصر کورسز، ورکشاپس اور لیکچرز کے لیے ہر پوسٹر پر ایک واٹس ایپ رابطہ نمبر فراہم کیا جائے گا۔ اس نمبر پر پیغام بھیج کر آپ کورس میں داخلہ لے سکتی ہیں۔ آپ کو کورس کے لیے ایک واٹس ا یپ  گروپ میں شامل کیا جائے گا اور مزید تفصیلات اور ہدایات وہاں شیئر کی جائیں گی۔ کسی شارٹ کورس میں شامل ہونے کے لیے شارٹ کورس کورڈنیٹر سے بھی رابطہ کیا جا سکتا ہے۔


                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: میں ویمنز ویلنس سینٹر کے سپورٹ گروپس میں کیسے شامل ہو سکتی ہوں؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: سپورٹ گروپس میں جگہیں انتہائی محدود ہیں، ایک گروپ میں صرف دس سے پندرہ خواتین کو شامل کیا جاتا ہے۔  جب کسی سپورٹ گروپ کی پیشکش کی جائے اور اس کی تشہیر کی جائے تو آپ پوسٹر پر ذکر کردہ واٹس ایپ نمبر پر پیغام بھیج دیں۔ ہماری ایڈمن ٹیم کا کوئی فرد آپ سے داخلہ فارم کے ساتھ رابطہ کرے گا۔ انٹرویو کی بھی ضرورت پڑ سکتی ہے۔


                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: بک کلب میں شمولیت کیسے ہو سکتی ہے؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: بک کلب کورڈنیٹر سے رابطہ کرکے متعلقہ واٹس ایپ گروپ میں شامل ہوا جا سکتا ہے۔اس گروپ میں شامل ہونے کا یہ مطلب نہیں کہ آپ کو ہر کتاب کے مطالعے میں حصہ لینا پڑے گا؛ جب  کسی نئی کتاب کو شروع کیا جا رہا ہو تو آپ چاہیں تو اس میں شرکت کرسکتی ہیں اور چاہیں تو اگلی کتابوں کا انتظار کر سکتی ہیں۔

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: میں اردو اچھی طرح سمجھ  اور بول لیتی ہوں لیکن لکھ پڑھ نہیں سکتی، تو کیا میں آپکے کورسز میں شامل ہو سکتی ہوں؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: پانچ سالہ عالمہ کورس، بنیادی کورس، اور قرآنی عربی کورس کے لیے اردو پڑھنا اور لکھنا آنا ضروری ہے۔ اگر  آپکو  اردو لکھنا یا پڑھنا نہیں آتا تو آپ داخلہ فارم پر اس کا تذکرہ کریں۔ ہم گرمیوں میں ان کورسز کی ابتدا سے پہلے اردو لکھنے پڑھنے کی کلاسیں منعقد کرتے ہیں، تاکہ شوق رکھنے والی طالبات کو کورسز میں شمولیت کا موقع مل سکے۔ اگر  آپ کی انگریزی پر گرفت مضبوط ہے تو آپ یہی کورس انگریزی میں بھی کر سکتی ہیں۔ انگریزی  میں کورسز کے لیے انگریزی ویب سائیٹ  دیکھیں۔
                                <br>
                                <br>
                                اکثر شارٹ کورسز ، ورکشاپس، اور لیکچرز کے لیے اردو سمجھنا کافی ہے، پڑھنا لکھنا آنا ضروری نہیں۔


                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: کیا کوئی طالبہ کسی دوسرے انسٹیٹیوٹ سے آپ کے عالمہ کورس میں منتقل ہو سکتی ہے؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: جی ہاں، کسی طالبہ کے لیے یہ ممکن ہے کہ وہ کسی دوسرے انسٹیٹیوٹ سے ہمارے عالمہ کورس میں منتقل ہو۔ اس صورت میں انھیں چاہیے  کہ  ایڈمن  کے متعلقہ فرد سے رابطہ کریں اور ان مضامین، کتابوں اور موضوعات کی تفصیلات فراہم کریں جو وہ اب تک پڑھ چکی ہیں، اور اگر پچھلے سالوں کی رپورٹس   دستیاب ہوں تو وہ بھی جمع کرائیں۔ ہم درخواست دہندہ کو اس سال یا سمسٹر میں داخلہ دیں گے جو ہماری نظر میں ان کے لیے سب سے موزوں ہے، چاہے اس کا مطلب یہ ہو کہ انھیں ایک سال یا سمسٹر دہرانا پڑے۔


                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <br>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: اگر میں کورس کے تقاضے پورے نہ کر سکوں تو میرے پاس کیا آپشن ہے؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: عالمہ کورس کی طالبات کے پاس آپشن ہے کہ پارٹ ٹائم پڑھیں۔ اسکا مطلب ہے کہ وہ کسی بھی سال کے دونوں سمسٹر میں تمام مضامین کی بجائے بعض مضامین پڑھیں، جن کا تعین کورڈنیٹر کے مشورے سے ہوگا، پھر اگلے تعلیمی سال میں دوبارہ اسی لیول میں شامل ہوں اور اس دفعہ بقیہ مضامین پڑھ کر اس سال کا نصاب مکمل کریں۔ غرض وہ اپنے کورس لوڈ کو ہلکا رکھ کر ایک سال کا نصاب دو سالوں میں مکمل کر سکتی ہیں۔
<br><br>
بنیادی اسلامی تعلیم کورس نہایت لچکدار ہے۔ طالبات چاہیں تو ایک سمسٹر میں  صرف ایک مضمون  لیں یا پھر آفر ہونے والے مضامین میں سے جتنے چاہے لے لیں۔ تمام مضامین وقتاً فوقتاً آفر ہوتے ہیں، اور جب بھی کسی طالبہ نے کورس کا نصاب مکمل کر لیا، اس کا کورس مکمل سمجھا جائے گا۔


                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
<br>
        </mat-accordion>
    </div>
</div>

<div *ngIf="subMenu == 'miscellaneous' && language == 'UR'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                دیگر معاملات

            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>س: کیا ہمیں کورس میں استعمال ہونے والی کتابیں خریدنی ہوں گی؟

                    </b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>ج: ہر سمسٹر میں استعمال ہونے والی کتابوں کی پی ڈی ایف آن لائن دستیاب ہوتی ہیں۔  تاہم جن کتابوں  کے کاپی رائٹ ہیں اور جو بازار میں دستیاب ہیں، ان کتابوں کو خریدنا ضروری ہے۔ اگر مقامی طور پر کوئی کتاب میسر نہ ہو، اور آن لائن خریدیں تو بھی آپ کے علاقے میں ڈلیوری نہ ہو ، تو آپ اسے آن لائن خرید کر کسی اور کے ہاں ڈلیوری کروا لیں، اور اس کی جگہ پی ڈی ایف کا استعمال جاری رکھیں ۔ 

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>