<!-- Siddeeqa Institute -->
<div *ngIf="subMenu == 'siddeeqa_institute'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                SIDDEEQA INSTITUTE
            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Where is Siddeeqa Institute based?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A. Siddeeqa Institute has no physical presence in any country of the world and claims no
                            particular national identity. Our teachers and students are based across the globe, and we
                            are a purely online institute.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How old is Siddeeqa Institute?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Siddeeqa Institute was founded in the year 2013. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Is Siddeeqa Institute affiliated with any other
                            organization?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A. We are not affiliated with any other online institute, on-site madrassah, or examination
                            board.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What sect does Siddeeqa Institute follow</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: The founders and teachers of Siddeeqa Institute are committed Sunnis who consider the
                            ulema of Deoband as their intellectual forefathers in recent times. We adhere to a
                            madhab-based approach to fiqh and offer Hanafi, Shafi’i and Maliki fiqh tracts to our
                            students. We have great reverence for those of the mashaikh of tasawwuf who adhere strictly
                            to the shari’ah and sunnah. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What curriculum does Siddeeqa Institute follow?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A. The Five-Year Traditional Islamic Education (‘Alima) Program is based on the
                            Dars-e-Nizami curriculum that was first introduced in traditional institutes of Islamic
                            learning in India in the 18th century. This curriculum gained immense acceptance and has,
                            since its inception, been taught throughout South Asia and all over the world, educating
                            millions of seekers of knowledge in the traditional Islamic sciences. Our five-year
                            Traditional Islamic Education program is a shorter version of the Dars-e-Nizami curriculum,
                            tailored to the needs of women today. We offer this course online, in English and Urdu.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Is the five-year course the same as an “'alima” course?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: In some countries, because of the existence of central madrasah boards such as the Wifaq
                            al-Madaris al-'Arabiyah in Pakistan that issue the official “'alima” certification after
                            centralized examinations, any degree awarded by other than these boards is not considered a
                            formal “'alima” degree. However, in other countries of the world, there are no central
                            boards that issue the 'alima degree after standardized examinations, and every on-site and
                            online madrassah has its own version of the 'alimiyyah program based on the Dars-e-Nizami
                            (usually very similar to each other) and issues its own degree, and recognizes 'alima
                            degrees awarded by other similar institutes.<br><br>Alhamdulillah, our curriculum and
                            methodology are comparable to what is taught in reputable womens' madrassahs around the
                            world, and our emphasis on the practical implementation of concepts, especially in teaching
                            fiqh and Arabic, and on the tarbiyah and personality development of our students sets us
                            apart from even institutes offering the formal 'alima degree.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Do we get a certificate for participation in Siddeeqa Institute
                            courses?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: A certificate of completion from Siddeeqa Institute will be awarded upon successful
                            completion of all the requirements of the five-year Traditional Islamic Education program or
                            flexible Essential Islamic Education program. Certificates may also be awarded for some
                            short courses; this information will be provided in the advertisement for the particular
                            course.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Is the Siddeeqa Institute certificate recognized by other
                            institutes?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: In recent years our graduates have gotten admission in takhassus (specialization)
                            programs in several different institutes and have done outstandingly well in them, and have
                            also been given teaching positions in other reputable institutes. </td>
                    </tr>
                </table>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>

<div *ngIf="subMenu == 'financial_matters'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                FINANCIAL MATTERS
            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What are the charges for Siddeeqa Institute courses?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Our courses are all free of cost.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<div *ngIf="subMenu == 'technical_matters'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                TECHNICAL MATTERS
            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How are the sessions conducted?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: All our sessions are conducted live via the Google Meet app. Our longer programs are
                            managed via the Google Classroom app while for the shorter courses links for classes are
                            shared with the students in the respective Whatsapp groups.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Can I join classes using a phone or is a laptop
                            required?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: You can join our sessions through a phone with a strong Internet connection.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What if I cannot hear the speaker clearly?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: If your audio is breaking up, write down “voice breaking” or “no audio” in the chat. If
                            the same message is sent by others that means there is a problem with the speaker’s
                            connection, and she will try to fix it. However, if the other participants respond with
                            “voice clear” in the chat, that means the problem is at your end. Sometimes logging out and
                            then joining again helps. However, if the problem persists to the extent that you cannot
                            understand what the speaker is saying, it might be advisable to leave the session and listen
                            to the recording later.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Will we be able to see the speaker?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: All teachers have their cameras off throughout the sessions. You will only be able to
                            hear them and see the whiteboard, book or slides displayed on the screen.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Will students be able to see or hear each other?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Students are required to keep their cameras and microphones off at all times, and all
                            communication must be through the chat box. Sometimes a teacher may ask a student to open
                            her mic to ask or answer a question, but never the camera.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What if I miss a live session?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Recordings are available for all our live sessions and are uploaded within a few hours
                            after the live sessions end.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        
        
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How are exams conducted?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Exams are made available to the students according to a pre-set exam schedule that is
                            shared with them well ahead of time. They have a 48-hour window within which to submit each
                            exam, during this period they can attempt the exam at any time. Our examination system is
                            based entirely on trust and there is no live monitoring of the students as they attempt the
                            exam. However, answers are carefully scrutinized for plagarism, and students found to have
                            cheated are immediately expelled. Students can pre-pone the exams or ask for extensions if
                            this is direly needed. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<div *ngIf="subMenu == 'admission_information'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                ADMISSION INFORMATION
            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How do I find out about the courses being offered?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: The easiest way is to join our WhatsApp group where we send posters of all our upcoming
                            events. In this group only admin can post so there will be no unnecessary disturbance. You
                            can join this group by sending a WhatsApp message to any of the numbers mentioned on the
                            "Contact Us" page.
                            <br>
                            <br>
                            Alternatively, you could keep checking our website; the slider on the main page will display
                            teasers for upcoming and ongoing courses; if you click on a teaser, you will be taken to the
                            full poster for that event.
                            <br>
                            <br>
                            You can also follow us on social media (Instagram, Facebook, Twitter) to remain updated
                            about our offerings.

                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How old is Siddeeqa Institute?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Siddeeqa Institute was founded in the year 2013. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How do I join Siddeeqa Institute courses, workshops, or
                            lectures?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: For our longer courses (such as our five-year course, our Essentials course and our
                            Qur’anic Arabic course), when admissions open, the Course Registration Form will display
                            that option. You can fill out the form and select that option. You will then be added to a
                            WhatsApp group for the course and further details and joining instructions will be shared
                            there.

                            ​<br>
                            <br>
                            For our shorter courses, workshops and lectures, a WhatsApp contact number will be provided
                            on the relevant posters. By sending a message to that number, you will be added to a
                            WhatsApp group for the course and further details and joining instructions will be shared
                            there. You may also contact the Short Courses Coordinator and request to be added to a
                            course.
                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How do I join a support group?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Places in a support group are highly limited, with only 10 to 15 women in one group. Once
                            a support group is offered and advertised you may send a message to the WhatsApp number
                            mentioned in the poster and someone from our admin team will contact you with an application
                            form. An interview may also be required.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: How do I join the Book Club?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: Contact the Book Club Coordinator to be added to a WhatsApp group where you will receive
                            notifications whenever a new book is being offered. You may choose to join reading and
                            discussion of a particular book, or you may opt out of it and wait for one that interests
                            you more. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What are the prerequisites for your courses?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A. The prerequisite for the five-year Traditional Islamic Education Program, the flexible
                            Essential Islamic Education Course and the Qur’anic Arabic Course are the ability to read
                            the Qur’an and write Arabic words. For women who need help in this regard, we offer courses
                            in Qur’an Reading and Arabic Writing over the summer prior to the start of the
                            aforementioned courses.
                            <br><br>
                            We also require students pursuing these courses in English to have a strong command of
                            English grammar. Again, for those who feel like their English grammar needs some brushing
                            up, we offer classes in “English Grammar for Arabic Learners” in the summer prior to the
                            start of our courses.
                            <br><br>
                            Prospective students whose English language skills are not up to the mark but who are fluent
                            in Urdu are advised to take up these courses in Urdu instead. The prerequisite for the same
                            courses in Urdu is the ability to read and write Urdu. If your Urdu comprehension and
                            ability to speak Urdu is good enough but you are unable to read and/or write it, we offer
                            Urdu reading and writing classes in the summer prior to the start of our courses.
                            ​
                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Can a student transfer to your 'alima course from another
                            institute?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: It is possible for a student to switch to our 'alima course from another institute. In
                            this case, she must contact the relevant admin staff member and provide details of the
                            subjects, books and topics that she has studied, and also submit reports from previous years
                            if they are available. We reserve the right to give the applicant admission in whatever year
                            or semester we think she is best suited for, even if that means she will have to repeat a
                            year or semester.</td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What if I am unable to handle the course load?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: In both the 'alima course and the Essentials course, students have the option of studying
                            part-time. In the 'alima course, this means that in both semesters of any given academic
                            year they take less than the full load of subjects in consultation with the assigned
                            coordinator. Then at the start of the next academic year they re-enroll in the same level to
                            complete the remaining subjects. Hence they cover one year worth of subjects in two years.
                            <br><br>
                            In the Essentials course students are free to take as few or as many subjects as they can
                            manage, even if it is just one subject per semester. Whenever they complete all the course
                            requirements the course is considered concluded, even if it takes them years to do this.
                            They may also join this course only as a listener, in which case they will not have the
                            pressure of assignments and exams, though we advise that they join as a regular student.
                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>

<div *ngIf="subMenu == 'miscellaneous'">
    <div class="background_container_courses">
        <div class="container">
            <h1 class="menu-headers">
                MISCELLANEOUS
            </h1>
        </div>
    </div>
    <div ngStyle.gt-sm="width:60%;margin-left:20%;margin-right:20%;padding-top:5%"
        ngStyle.lt-sm="width:90%;margin-left:5%;margin-right:5%;padding-top:4%;">
        <mat-accordion #accordion multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: Do we need to purchase the books we will be using for our
                            course?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: PDFs of all the required books are available online at the beginning of each semester.
                            However, students are required to purchase those books that have copyrights and are in
                            print. If they are unable to buy any book locally or are unable to have it shipped to them
                            if purchased online, they can purchase it online and have it shipped to someone they know,
                            and continue to use the PDF in its place. </td>
                    </tr>
                </table>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title><b>Q: What is the difference between the Urdu and English 'alima
                            courses?</b></mat-panel-title>
                </mat-expansion-panel-header>
                <table>
                    <tr>
                        <td>A: The only difference between the two is in the medium of instruction and the language of
                            the non-Arabic texts. Students should opt for the language they are most proficient in.

                            ​</td>
                    </tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>