
<!-- Siddeeqa Institute -->
<div *ngIf="subMenu == 'siddeeqa_institute'">
    <p> content for FAQs of Siddeeqa Institute</p>
</div>

<div *ngIf="subMenu == 'financial_matters'">
    <p> content for FAQs of Siddeeqa Institute</p>
</div>

<div *ngIf="subMenu == 'technical_matters'">
    <p> content for FAQs of Siddeeqa Institute</p>
</div>

<div *ngIf="subMenu == 'admission_information'">
    <p> content for FAQs of Siddeeqa Institute</p>
</div>

<div *ngIf="subMenu == 'siddeeqa_institute'">
    <p> content for FAQs of Siddeeqa Institute</p>
</div>
