
<!-- Siddeeqa Institute -->
<div *ngIf="subMenu == 'about_center'">
    <p> content for about the center</p>
</div>

<div *ngIf="subMenu == 'support_groups'">
    <p> Support Groups</p>
</div>

<div *ngIf="subMenu == 'revert_support_services'">
    <p> Revert Support Services</p>
</div>

<div *ngIf="subMenu == 'workshops_and_services'">
    <p> Workshops and lectures</p>
</div>

<div *ngIf="subMenu == 'resources_for_woman'">
    <p> resources for woman</p>
</div>

<div *ngIf="subMenu == 'resources_for_muslim_mothers'">
    <p> resources for muslim mothers</p>
</div>
