<div class="background_container" *ngIf="language == 'EN'">
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="container-2">
            <div fxFlex.gt-sm="50%" fxLayoutAlign="center center" style="padding: 4%;">
                <img src="../../../assets/Logos/LogoL.png" fxFlex="40%" height="auto" alt="Siddeeqa Institute" />
            </div>
            <div fxFlex.gt-sm="50%" fxLayoutAlign="space-evenly center" style="text-align: center;padding: 4%;"
                [ngStyle.gt-sm]="{'font-size.px': 24,'padding':'2%'}">
                A mind that understands and submits to the Will of Allah ﷻ
                <br />
                ⋄⋄⋄
                <br />
                A heart that loves and fears Him ﷻ
                <br />
                ⋄⋄⋄
                <br />
                A body that acts in accordance with the most perfect ways of
                His final Messenger ﷺ
                <br />
                ⋄⋄⋄
                <br />
                These are the goals of Siddeeqa Institute
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="40%" fxLayoutAlign="center center" style="text-align: justify;padding: 4%;" fxFlex.lt-sm="100%"
                [ngStyle.gt-sm]="{'font-size.px': 24,'padding':'2%'}" class="container-3">

                <br>
                <div>
                    <br>
                We are an online institute of Islamic education and coaching for women, inspired by the great <i>Siddeeq,
                Sayyedina </i>Abu Bakr رضی الله عنه and the great <i>Siddeeqa, Sayyeda </i>Aisha رضی الله عنها.
                <br>                <br>
                </div>
                <br>
                <br>
            </div>
            <div fxFlex="60%" fxHide.lt-sm>
            </div>
        </div>
        <div class="carousel" ngStyle.lt-sm="width:100%">
            <p-carousel padding=0 [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true"
                [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
                <ng-template let-product pTemplate="item">
                    <div class="surface-border border-round m-2 text-center py-5 px-3">
                        <div class="mb-8">
                            <img src="{{product}}" [alt]="product" class="w-6 shadow-2"
                                style="max-height: 70%; max-width: 100%;" />
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>


</div>

<div class="background_container" *ngIf="language == 'UR'">
    <div fxLayout="column">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="container-2">
            <div fxFlex.gt-sm="50%" fxLayoutAlign="center center" style="padding: 4%;">
                <img src="../../../assets/Logos/LogoL.png" fxFlex="40%" height="auto" alt="Siddeeqa Institute" />
            </div>
            <div fxFlex.gt-sm="50%" fxLayoutAlign="space-evenly center" style="text-align: center;padding: 4%;"
                [ngStyle.gt-sm]="{'font-size.px': 24,'padding':'2%'}">
                ایسا ذہن جو اللہ  ﷻکی منشا کو سمجھے اور اسے قبول کرے
                <br />
                ⋄⋄⋄
                <br />
                ایسا دل جس میں اللہ ﷻکی محبت اور خوف ہو
                <br />
                ⋄⋄⋄
                <br />
                ایسا جسم جو اللہ کے حبیب ﷺ کے  کامل طریقوں کے مطابق عمل کرے 
                <br />
                ⋄⋄⋄
                <br />
                یہ صدیقہ انسٹیٹیوٹ کے مقاصد ہیں
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="40%" fxLayoutAlign="center center" style="text-align: justify;padding: 4%;" fxFlex.lt-sm="100%"
                [ngStyle.gt-sm]="{'font-size.px': 24,'padding':'2%'}" class="container-3">

                <br>
               
ہم خواتین کی دینی تعلیم و تربیت کے لیےا یک آن لائن  انسٹیٹیوٹ ہیں، جس کے آئیڈیل صدیق اکبر، سیدنا ابو بکر الصدیق  رضی الله عنه ، اور صدیقہ کبریٰ، سیدہ عائشہ  رضی الله عنها        ہیں۔
                <br>
                <br>
            </div>
            <div fxFlex="60%" fxHide.lt-sm>
            </div>
        </div>
        <div class="carousel" ngStyle.lt-sm="width:100%">
            <p-carousel padding=0 [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true"
                [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
                <ng-template let-product pTemplate="item">
                    <div class="surface-border border-round m-2 text-center py-5 px-3">
                        <div class="mb-8">
                            <img src="{{product}}" [alt]="product" class="w-6 shadow-2"
                                style="max-height: 70%; max-width: 100%;" />
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>


</div>