<mat-toolbar color="primary">
    <span>My Application</span>
    <span class="spacer"></span>
    <button mat-button>Home</button>
    <button mat-button>Our Exemplars</button>
    <button mat-button [matMenuTriggerFor]="madrasah">Madrasah</button>
    <mat-menu #madrasah="matMenu">
        <button mat-menu-item>Our Courses</button>
        <button mat-menu-item>Traditional Islamic Education(Aalima)</button>
        <button mat-menu-item>Essential Islamic Education Course</button>
        <button mat-menu-item>TO-DO (Add the rest)</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="womensWellnessCenter">Women's Wellness Center</button>
    <mat-menu #womensWellnessCenter="matMenu">
        <button mat-menu-item>Submenu 1</button>
        <button mat-menu-item>Submenu 2</button>
    </mat-menu>
    <button mat-button>FAQs</button>
    <button mat-button>Contact Us</button>
    <!-- Add more buttons for other menu items -->
</mat-toolbar>