
.dropdown-menu {
    display: none;
  }
  
  .spacer {
    flex: 1; /* This makes the spacer element take up all available space */
  }

  .mat-mdc-menu-item{
    font-size: 12px;
    height: 10px;
    // background: #b8b085;
  }
  
/* Default styles */
.mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .mat-toolbar-row {
    flex-direction: column;
  }
}
  
.menu-spacer {
  flex: 1 1 auto;
}

.footer{
  display: flex; 
  justify-content: center;
  align-items: center; 
  text-align: center;
}