

<div fxLayout="column" >
    <div  fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="container-2">
        <div fxFlex.gt-sm="50%" fxLayoutAlign="center center">
            <img src="../../../assets/Logos/LogoL.png"  fxFlex="40%" height="auto" alt="Siddeeqa Institute"/>
        </div>
        <div fxFlex.gt-sm="50%" fxLayoutAlign="center center">
            Contact US
            <br/>
            ⋄⋄⋄
            <br/>
            A heart that loves and fears Him ﷻ
            <br/>
            ⋄⋄⋄
            <br/>
            A body that acts in accordance with the most perfect ways of
            His final Messenger ﷺ
            <br/>
            ⋄⋄⋄
            <br/>
            These are the goals of Siddeeqa Institute
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex="40%" fxLayoutAlign="center center" fxFlex.lt-sm="100%" [ngStyle.gt-sm]="{'font-size.px': 24}">
            
            ⋄⋄⋄
            <br>
            We are an online institute of Islamic education and coaching for women, inspired by the great Siddeeq, Sayyedina Abu Bakr رضی الله عنه and the great Siddeeqa, Sayyeda Aisha رضی الله عنها.
            <br>
            ⋄⋄⋄
            <br>    
        </div>
        <div fxFlex="60%" fxHide.lt-sm>
            Image
        </div>
    </div>
</div>

