
<div class="background_container" *ngIf="language == 'EN'">
    <div class="container">
        <h1 class="menu-headers">
            OUR<br>EXEMPLARS
        </h1>
    </div>
    <div fxLayout="row" class="container-3">
        <div fxFlex="30%" fxHide.lt-sm fxLayoutAlign="end start" style="padding: 4%;">
            <img src="../../../assets/Images/tile1.webp" fxFlex="65%" height="auto" alt="Caligraphy" />
        </div>
        <div fxFlex="70%" fxLayoutAlign="start start" style="text-align: justify;padding: 4%;" fxFlex.lt-sm="100%"
            [ngStyle.gt-sm]="{'font-size.px': 24,'padding':'2%'}" fxLayout="column" >

            <br>
            <div>
            At Siddeeqa Institute we hold in the highest esteem and have immense love for the following predecessors in the <i>deen</i>, 
            who established the <i>shari'ah</i> and <i>sunnah</i> firmly in their lives and served the cause of Islam in ways best suited to the
             needs of their times. We draw inspiration from their lives, personalities, and work, and aspire to emulate them in serving Allahﷻ,
              His Messenger ﷺ and the <i>ummah</i> of His Messenger ﷺ. The list below begins after the blessed companions of the Prophet ﷺ, 
              all of whom were guiding lights for us, and love for whom is a part of our faith. Furthermore, this list is neither 
              exhaustive nor exclusive, but is presented here to reflect our association with various branches of the deen and of sacred knowledge.
            </div>
            <br>
            <br>
            <ul>
                <li><i>Hadrat </i>Umar ibn Abdul Aziz</li>
                <li><i>Shaykh </i>Hasan al-Basri </li>
                <li><i>Shaykha </i>Rabiah Al-Adawiyyah</li>
                <li><i>Shaykh </i>Junaid Al-Baghdadi</li>
                <li><i>Imam </i>Abu Hanifah</li>
                <li><i>Imam </i>Malik bin Anas </li>
                <li><i>Imam </i>Al-Shafi'i</li>
                <li><i>Imam </i>Ahmad ibn Hanbal</li>
                <li><i>Imam </i>Abu Ja'far al-Tahawi</li>
                <li><i>Imam </i>Abul-Hasan al-Ash’ari</li>
                <li><i>Imam </i>Abu Mansur al-Maturidi</li>
                <li><i>Imam </i>Abu Hamid al-Ghazali</li>
                <li><i>Shaykh </i>Abdul Qadir al-Jilani</li>
                <li><i>Maulana </i>Jalaluddin Rumi</li>
                <li><i>Khwaja </i>Mu'eenuddin Chishti</li>
                <li><i>Khwaja </i>Nizamuddin Awliya</li>
                <li><i>Khwaja </i>Bahauddin Naqshband Bukhari</li>
                <li><i>Khwaja </i>Ubaidullah Ahrar </li>
                <li><i>Shaykh </i>Ahmad Al-Faruqi Sirhindi </li>
                <li><i>Shah </i>Ghulam Ali Dehlawi</li>
                <li><i>Shaykh </i>Othman Dan Fodio & Nana Asmau</li>
                <li><i>Shah </i>Waliullah Muhaddith Dehlawi</li>
                <li><i>Maulana </i>Qasim Nanotwi </li>
                <li><i>Maulana </i>Rasheed Ahmad Gangohi</li>
                <li><i>Khwaja </i>Fazal Ali Quraishi</li>
                <li><i>Maulana </i>Ashraf Ali Thanwi</li>
                <li><i>Shaykh </i>Mustafa Sabri</li>
                <li><i>Allama </i>Zahid Al-Kawthari</li>
                <li><i>Maulana </i>Husain Ahmad Madani</li>
                <li><i>Maulana </i>Zakariyya Kandhelwi<br></li>
            </ul>
        </div>
    </div>
</div>

<!------------------------ URDU --------------->

<div class="background_container" *ngIf="language == 'UR'">
    <div class="container">
        <h1 class="menu-headers">
            مثالی شخصیات
        </h1>
    </div>
    <div fxLayout="row" class="container-3">
        <div fxFlex="30%" fxHide.lt-sm fxLayoutAlign="end start" style="padding: 4%;">
            <img src="../../../assets/Images/tile1.webp" fxFlex="65%" height="auto" alt="Caligraphy" />
        </div>
        <div fxFlex="70%" fxLayoutAlign="center center" style="text-align: justify;padding: 4%;" fxFlex.lt-sm="100%"
            [ngStyle.gt-sm]="{'font-size.px': 24,'padding':'2%'}" >

            <br>
           
صدیقہ انسٹیٹیوٹ میں ہم اپنے درج ذیل اسلاف سے نہایت عقیدت اور محبت کا تعلق رکھتے ہیں۔ یہ ایسی عظیم ہستیاں ہیں جنہوں نے اپنی  زندگیاں بھی شریعت اور سنت کے مطابق گزاریں، اور اپنے زمانے کے تقاضوں کے مطابق اللہ    ﷻکے دین کی  عظیم خدمات بھی سر انجام دیں۔ ہم ان حضرات کی شخصیتوں، اور انکے کارناموں سے رہنمائی حاصل کرتے ہیں، اور انکے نقش قدم پر چلنے کی کوشش کرتے ہیں۔ ذیل میں پیش کی گئی فہرست صحابہ کرام ؓ کے بعد شروع ہوتی ہے، کیونکہ صحابہ کرام (رضوان اللہ علیھم اجمعین)  تو سارے ہی ہمارے لیے ستاروں کی مانند ہیں۔ مزید یہ کہ یہ فہرست نا تو جامع ہے اور نہ ہی مانع، لیکن یہاں پیش کرنے کا مقصد دین کے مختلف شعبوں سے ہماری مناسبت ظاہر کرنا ہے۔ 
            <br>
            <br>
            حضرت عمر بن عبد العزیز ؒ • <br> شیخ حسن البصریؒ • <br>شیخہ رابعہ العدویہؒ •  <br> شیخ جنید البغدادیؒ • <br> امام ابو حنیفہؒ • <br> امام مالک ابن انسؒ • <br> امام الشافعیؒ • <br> امام احمد ابن حنبلؒ • <br>  امام ابو جعفر الطحاویؒ • <br>  امام ابو جعفر الطحاویؒ • <br>  امام ابو الحسن الاشعریؒ • <br> امام ابو منصور الماتریدیؒ • <br> امام ابو حامد  الغزالیؒ • <br> شیخ عبد القادر الجیلانیؒ • <br> مولانا جلال الدین الرومیؒ • <br>
            خواجہ نظام الدین اولیاءؒ • <br>خواجہ بہاؤالدین نقشبند بخاریؒ • <br> خواجہ عبید اللہ احرارؒ • <br> شیخ احمدالفاروقی السرہندیؒ • <br> شاہ غلام علی دہلویؒ • <br>  شاہ غلام علی دہلویؒ • <br>  شاہ ولی اللہ محدث دہلویؒ • <br> مولانا قاسم نانوتویؒ • <br> مولانا رشید احمد گنگوہیؒ • <br> خواجہ فضل علی قریشیؒ • <br> مولانا اشرف علی تھانویؒ • <br> شیخ مصطفیٰ صبریؒ • <br> علامہ زاہد الکوثریؒ • <br>مولانا حسین احمد مدنیؒ • <br>مولانا زکریا کاندھلویؒ • <br>
        </div>
    </div>
</div>
