@import 'src/styles';


.gradient-custom-2 {
    /* fallback for old browsers */
    background: $color-green; // $color_primary

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #d1c38b, #d2ad37, #a99547);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #d1c38b, #d2ad37, #a99547);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.custom-margin-10 {
    margin-top: 10px;
    
}

.custom-margin-30 {
    margin-top: 30px;
    
}

.btn-primary {
    background-color: #d3af37 !important; //$color_primary
    border-color: #d3af37; //$color_primary
}

.btn-primary:hover {
    background-color: #e4b74d !important; //$color_primary_2
    border-color: #e4b74d; //$color_primary_2

}

h3 {
    text-align: justify;
}